.maks{
    width: 100%;
    height: 100vh;
    position: relative;
}
.IntroIm{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;  

}
.maks::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%), linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);
}
.hero{
    height: 100%;
    width: 100%;
}
.hero .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.title{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    box-shadow: #a237e0 1px 2px 4px;
}
.btn01{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    background: #a237e0;
    color: #ece1e1;
    text-decoration: none;
    transition: 0.3s;
    margin: 10px;
}
.btn01:hover{
    background: #fff;
    color: #a237e0;
}
.btn02{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    background: #fff;
    color: #a237e0;
    text-decoration: none;
    transition: 0.3s;
    margin: 10px;
}
.btn02:hover{
    background: #a237e0;
    color: #fff;
}