$color-primary: #030303;
$color-white: #242020;
$color-grey: #e6e6e6;
$transition : all 0.3s ease-in-out;
.footer{
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    a{
        color: $color-white;
        text-decoration: none;
        
        &:hover{
            text-decoration: underline;
        }
    }
}
.footer__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.footer__social{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    a{
        color: $color-grey;
       
        &:hover{
            color: $color-white;
        }
    }

    i {
        font-size: 1.9rem;
        color: #e67e22;       
        &:hover{
            color: #e67e22;
        }
    }
}
.footer__text{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    a{
        color: $color-white;
        text-decoration: none;
        transition: $transition;
        &:hover{
            text-decoration: underline;
        }
    }
}