.About {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0;

    h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: black;

    }


}

.left {
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.btn {
    background-color: #b645d8;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 9px #999;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
}

.About .Right {
    max-width: 700px;
    h5{
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    
}

.Right .IMG-CONTAINER {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
.Right .img{
    max-width: 70%;
    border: 1px solid #ddd;
}
.Right .top{
    grid-column: 1 /span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}
.Right .bottom{
    grid-column: 4 /-1;
    grid-row: 1;   
    z-index: 5;
}
@media screen and (max-width: 768px) {
    .Right .IMG-CONTAINER {
        grid-template-columns: repeat(12, 1fr);
    }
    .Right .top{
        grid-column: 1 /span 12;
        grid-row: 1;
        padding-top: 20%;
        z-index: 6;
    }
    .Right .bottom{
        grid-column: 1 /span 12;
        grid-row: 2;   
        z-index: 5;
    }
}
    
