$color-primary: #9607d8;
$color-secondary: #f5f5f5;
$colorBG: #f0c1f1;

li {
    list-style: none;
}

.Header {
    background: $color-primary;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
    #Tesla{
        width: 80px;
        height: 80px;
    }
}

.Header-bg {
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s;
}

.header__name {
    color: $color-secondary;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.nav-links {
    display: flex;
}

.nav-links li {
    padding: 0 1rem;
    list-style: none;
}

h1 {
    color: $color-secondary;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}


.nav-links li a {
    color: $color-secondary;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.nav-links li a i {
    color: $color-secondary;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: $color-primary;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transform: translateY(-1.1rem);
}
.download-button {
    position: relative;
    border-width: 0;
    color: rgb(14, 13, 13);
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
    cursor: pointer;
   }
   
   .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #f4f6f8;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   
   .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }
   
   @keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
   }
.hambuger {
    display: none;

}

@media screen and (max-width: 1040px) {
    .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: all 0.3s ease-in-out;

        &.active {
            left: 0;
            background-color: rgba(0,0,0,0.4);
            transition: all 0.8s ease-in-out;

        }

        &.active li {
            opacity: 1;
            transition: all 0.8s ease-in-out;

        }

        &.active .ICONES:hover {
            color: #9607d8;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            transform: translateY(-1.1rem);
            transition: all 0.8s ease-in-out;
        }
    }

    .nav-links li a {
        font-size: 2rem;
    }

    .hambuger {
        display: block;
        font-size: 2rem;
        color: $color-secondary;
        cursor: pointer;
    }

}

