.card {
    background: var(--color-primary);
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 2px solid transparent;
    border-radius: var(--border-radius-1);
    transition: var(--transition);
}
.card p{
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card p:hover{
    color: var(--color-primary);
}
.card:hover {
    background: transparent;
    border-color: var(--color-white);
    transform: translateY(-0.5rem);
}

.card:hover {
    background: transparent;
    border-color: var(--color-white);
    transform: translateY(-0.5rem);
}
.card.light{
    background: var(--color-light);
}
.card.light:hover{
    background: transparent;
    border-color: var(--color-light);
}
/*icones */
.card .about__me__cards__card__icon{
  color: rgb(247, 184, 11);
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card .about__me__cards__card__icon:hover{
    color: var(--color-primary);
}
.card .about__me__cards__card__title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
    .card {
        padding: 1rem;
    }
}
    
