$primary-color: #2c3e50;
$secondary-color: #e67e22;
$white: #fff;
$Hsla: hsla(0, 28%, 22%, 0.8);
$background-color: #f5f5f5;

nav {
    width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    box-shadow: 1rem 0 8rem $Hsla;
    transition: all 0.2s ease-in-out;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 4.5rem;
    border-radius: 50%;
    border: #e67e22 2px solid;
    padding: 0.5rem;
    margin: 5px;
}

.nav__logo img {
    border-radius: 50%;
    border: #e67e22 2px solid;
}

.nav__menu {
    display: flex;
    gap: 3.5rem;
}

/*comfigurando o icone da palete de cores*/
#theme__icon {
    background-color: transparent;
    color: #ccb8b8;
    font-size: 2.2rem;
    cursor: pointer;
}
/*media for mobile tablets and desktop*/
@media screen and (max-width: 1024px) {
   .nav__menu {
       display: none;
   }
}
    


