$primary-color: #53256e;
$secondary-color: #e67e22;
$white: #fff;
$Hsla: hsla(261, 90%, 37%, 0.4);

nav {
   width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    box-shadow: 1rem 0 8rem $Hsla;
}
nav img{
    display: none;
}