$color-primary: #9607d8;

.Footer {
    width: 100%;
    padding: 6rem 0;
    background-color: $color-primary;
}

.Footer__container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

}

.Left {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

.Location {
    display: flex;
    margin-bottom: 0.8rem;
    flex-direction: column;

}

.Location p {
    line-height: 30px;
    color: antiquewhite;
}

.Location i {
    font-size: 0.8rem;
    color: aliceblue;
    width: 150px;
}

.Home {
    display: flex;
    margin-bottom: 0.8rem;
    flex-direction: column;
}

.Phone {
    display: flex;
    margin-bottom: 0.9rem;
    flex-direction: column;
    padding: 1.1rem 0;
}

.Right {
    height: 100%;
    max-width: 100%;
    
    flex-direction: column;
   
}
.Right h4{
    color: antiquewhite;
    
}
.Right p{
    color: antiquewhite;
   
}
.Social {    
    flex-direction: row;
    cursor: pointer;
}