* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-hue: 270;
  --black-lightness: 15%;
  --dark-lightness: 44%;
  --light-lightness: 96%;
  --white-lightness: 100%;
  --color-primary: hsl(var(--primary-hue), 89%, 41%);
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));
  /*general container*/
  --container-width-lg: 76%;
  --container-width-md: 90%;
  /*general border radius*/
  --border-radius-1: 1.5rem;
  --border-radius-2: 0.9rem;
  --border-radius-3: 0.5rem;
  /*Transition General*/
  --transition: all 500ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
}

/*general container class*/
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 1920px;
}

/*general section class*/
section {
  padding: 10rem 0;
  background: var(--color-light);
  transition: var(--transition);
}

section:nth-child(eve) {
  background: var(--color-white);
}

section > h2 {
  text-align: center;
}

section > p {
  text-align: center;
  margin: 0.5rem auto 4rem;
  width: 40%;
}

/*general section class*/
a {
  color: var(--color-white);
  transition: var(--transition);
}

/*general header class*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  transition: var(--transition);
}

h1 {
  font-size: 3rem;

}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

/*general imgs class*/

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/*general btn class*/
.btn {
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-light);
  color: var(--color-black);
  padding: 0.5rem 2.5rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-3);
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid var(--color-light);
  transform: translateY(-0.5rem);
}

.btn.white {
  background: var(--color-white);
}
.btn.white:hover {
  background-color: transparent;
  border: 2px solid var(--color-white);
}
.btn.primary {
  background: var(--color-primary);
  color: white;
}
.btn.primary:hover {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
.btn.small {
  padding: 0.5rem 1.5rem;
}
.btn.secondary {
  background: var(--color-dark);
  color: white;
}
.btn.secondary:hover {
  background-color: transparent;
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
}
/*media query*/
@media screen and (max-width:1024px){
  body{
    font-size: 1rem;
  }
  .container{
    width: var(--container-width-md);
  }
  section{
    padding: 8rem 0;
  }
  section > p{
    width: 60%;
    margin-bottom: 3rem;
  }
  h1{
    font-size: 2rem;
  }
}
@media screen and (max-width:600px){
  h1{
    font-size: 2.4rem;
  }
  h2{
    font-size: 1.8rem;
  }
  h3{
    font-size: 1.4rem;
  }
  h4{
    font-size: 1.2rem;
  }
  .btn{
    padding: 0.5rem 1.5rem;
  }
  section > p{
    width: var(--container-width-md)
  }
}