
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
$root-colors: (
  primary-hue:270,
  black-lightness:15%,
  white-lightness:100%,
  gray-lightness:50%,
  gray-darkness:50%,
  gray-darker-lightness:25%,
  gray-darker-darkness:75%,
  gray-darkest-lightness:10%,
  gray-darkest-darkness:90%,
  gray-light-lightness:75%,
  gray-light-darkness:25%,
  gray-lighter-lightness:90%,
  gray-lighter-darkness:10%,
  gray-lightest-lightness:95%,
  gray-lightest-darkness:5%,
  gray-transparent-lightness:50%,
  gray-transparent-darkness:50%,
  gray-transparent-opacity:0.5,
  red-lightness:50%,
  red-darkness:50%,
  red-darker-lightness:25%,
  red-darker-darkness:75%,
  red-darkest-lightness:10%,
  red-darkest-darkness:90%,
  red-light-lightness:75%,
  red-light-darkness:25%,
  red-lighter-lightness:90%,
  red-lighter-darkness:10%,
  red-lightest-lightness:95%,
  red-lightest-darkness:5%,
  red-transparent-lightness:50%,
  red-transparent-darkness:50%,
  red-transparent-opacity:0.5,
);
